@import "../../../../variables";

:root {
  --container-background-color: var(--brand-black);
  --list-item-margin: 0.2em;
}

.container {
  display: flex;
  background-color: var(--container-background-color);
}

.panel,
.panelHeader {
  border-top-right-radius: 0;
}

.panelContent {
  width: 7em;
  height: 20em;
  overflow: auto;
  display: flex;
}

.list {
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex: 2;
}

.item { margin: var(--list-item-margin); }
