@import "variables";

.page {
  composes: box from "styles/layout";
  background-color: color(#232c32 tint(4%));
}

.title {
  font-size: responsive 4rem 8rem;
  color: #fff;
  text-shadow:
    0 1px 0 color(var(--text-color) tint(60%)),
    0 2px 0 color(var(--text-color) tint(50%)),
    0 5px 10px rgba(#000, 0.125),
    0 10px 20px rgba(#000, 0.2);
}

.demos {
  list-style: none;
  font-size: responsive 1.6rem 2rem;
}

.link {
}
