@import "../../../../../variables.css";

:root {
  --header-background-color: color(var(--brand-black) lightness(-4%));
  --header-background:
    linear-gradient(
      to bottom,
      var(--header-background-color) 0,
      color(var(--header-background-color) shade(12%)) 46%,
      color(var(--header-background-color) shade(20%)) 100%
    );
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.25em 0.4em;
  background: var(--header-background);
  border-radius: 4px 0 0 4px;
}

.title {
  font-family: var(--font-family);
  text-align: center;
  margin: 0.4em 0;
  user-select: none;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.wide {
}

.narrow {
}
